/* ORDupdater — body class toggles via plugin setting */

body.ord-updater-lock .metadata-container .metadata-add-button {
    display: none !important;
}

body.ord-updater-lock .markdown-preview-view .metadata-container .multi-select-pill-remove-button {
    display: none !important;
}

body.ord-updater-lock .markdown-preview-view .metadata-container .multi-select-pill {
    padding-right: 0.7em !important;
}
